/*----------------------------------------
  Base styles
*/


/*
* {
 filter: saturate(0%);
}
*/


@-webkit-viewport { width: device-width }
@-moz-viewport { width: device-width }
@-ms-viewport { width: device-width }
@-o-viewport { width: device-width }
@viewport { width: device-width }

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
	 /* Set font size to 62.5% so rems are in base 10. Rems are not relative to their parent, so 1.6rem will always yield 16 pixels, etc.
	 */
	font-size: 62.5%;
	line-height: 1.1;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-text-size-adjust: none;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	color: #497ADB;
	cursor: pointer;
	text-decoration: none;
}

a:visited {
	color: #497ADB;
}

a:hover {
	color: #ccc;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
	line-height: 1.2;
	margin: 0 1rem;
	margin-bottom: 4rem;
}

button {
	padding: .8rem .8rem;
	border: 1px solid rgba(0,0,0, .1);
	border-radius: .5rem;
	box-shadow: 0 .05rem .25rem rgba(0, 0, 0, .5);
	text-shadow: 0 -.05rem .05rem rgba(0, 0, 0, .5);
	color: white;
	font-size: 100%;
	line-height: 1.5;
}
button.btn-primary{
	background: #497ADB linear-gradient(hsla(0, 0%, 100%, .2), transparent);
}

button.btn-secondary {
	background: goldenrod linear-gradient(hsla(0, 0%, 100%, .2), transparent);
}
button.btn-secondary:hover {
	color: #d31913;
}
button.btn-cancel {
	background: #aaa linear-gradient(hsla(0, 0%, 100%, .2), transparent);
}
button.btn-cancel:hover {
	color: #666;
}

button.btn-danger {
	background: #d31913 linear-gradient(hsla(0, 0%, 100%, .2), transparent);
}
button.btn-danger:hover {
	color: #ccc;
}
button.btn-special {
	/*used in list of selected drills*/
	margin: 2rem 0;
	background: gold linear-gradient(hsla(0, 0%, 100%, .2), transparent);
	color: #497ADB;
	width: 20rem;
}
button.btn-special:hover {
	color: #999;
}
button[type=submit] {
	background: #497ADB linear-gradient(hsla(0, 0%, 100%, .2), transparent);
}
button:hover {
	color: gold;
}
button:active {
	color: #ccc;
	border: 1px solid white;
}

/*crud action buttons (delete)*/
button[data-id] {
	font-size: .7em;
	margin-left: .3rem;
}

em {
	font-style: italic;
}

h2 {
	color: #497ADB;
	font-family: 'Jura', sans-serif;
	font-size: 4rem;
	font-weight: normal;
	margin: 0;
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}

strong {
	color: #000;
	font-weight: 700;
}

ul {
	margin: 0;
	padding: 0;
}

