/*----------------------------------------
  Base html elements style directives
 */

@-webkit-viewport { width: device-width }
@-moz-viewport { width: device-width }
@-ms-viewport { width: device-width }
@-o-viewport { width: device-width }
@viewport { width: device-width }

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
   /* Set font size to 62.5% so rems are in base 10. Rems are not relative to their parent, so 1.6rem will always yield 16 pixels, etc. Keeping fonts and widths of margins/paddings in rems (and/or percentages) provides flexibility while maintaining proportionality.

     - Use rem for fonts margin/padding
     - Use percentages for height/width
     - Avoid px, pt
     - Use px only for media queries

   px/rem conversion is base 10:

     12px == 1.2rem
     24px == 2.4rem
     100px == 10rem
     etc...

     The only exception to this is with rem/em in media queries. A rem or em will equal 16px regardless of font-size setting.
   */
	font-size: 62.5%;
	line-height: 1.1;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-text-size-adjust: none;
}

 *, *:before, *:after {
	box-sizing: inherit;
 }


 img {
	max-width: 100%;
 }


 a {
	color: #497ADB;
	cursor: pointer;
	text-decoration: none;
 }

 a:visited {
	color: #497ADB;
 }

 a:hover {
	color: #ccc;
 }

 body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
	line-height: 1.2;
	margin: 0 1rem;
	margin-bottom: 4rem;
 }

 em {
	font-style: italic;
 }

 h2 {
	color: #497ADB;
	font-family: 'Jura', sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	margin: 0;
 }

 li {
	padding-bottom: .5rem;
	list-style-type: none;
 }

 strong {
	color: #497ADB;
	font-weight: 700;
 }

 ul {
	margin: 0;
	padding: 0;
 }

