/*----------------
  DrillDetail
 */

 @import 'helpers.css';

 .DrillDetail {
 	text-align: center;
 }

 .DrillDetail h2 {
 	font-size: 3rem;
 }

 .DrillDetail h3 {
 	color: #497ADB;
 	font-family: 'Jura', sans-serif;
 	font-size: 2.5rem;
 	font-weight: normal;
 	margin: 0;
 }

 .DrillDetail .text-left {
 	width: 30rem;
 }

 .DrillDetail .diagram {
   margin: 2rem 0;
   width: 90%;
 }
