/*----------------
  DrillSetup
 */

 @import 'helpers.css';

 .DrillSetup {
 	text-align: center;
 }

 .DrillSetup h2 {
 	font-size: 3rem;
 }

 .DrillSetup h3 {
 	color: #497ADB;
 	font-family: 'Jura', sans-serif;
 	font-size: 2.5rem;
 	font-weight: normal;
 	margin: 0;
 }

 .DrillSetup .text-left {
 	width: 30rem;
 }

 .DrillSetup .diagram {
   margin: 2rem 0;
   width: 90%;
 }
