/*----------------
  History
 */

 @import 'base.css';
 @import 'helpers.css';
 @import 'animation.css';

 .History {
	text-align: center;
 }

 .History  h2 + div {
 	font-size: 2.3rem;
	margin: 1rem 0 3rem 0;
 }

 .History .wrapper {
 	background: #eee;
 	border: 1px solid #ccc;
 	padding: 1.3rem;
 	padding-bottom: 1.5rem;
 }

 .History li {
 	margin-bottom: 3rem;
 }

