/*----------------
  Info
 */

 @import 'base.css';
 @import 'helpers.css';

 #Info {
	font-size: 1.6rem;
	text-align: center;
	width: 100%;
 }

/*#Info h2 {
	font-family: 'Jura', sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	margin: 0;
}
*/
