/*----------------
  RoutineDetail
 */

 @import 'base.css';
 @import 'helpers.css';
 @import 'animation.css';

 .RoutineDetail {
	text-align: center;
 }

 .RoutineDetail h2 {
	margin-bottom: 2rem;
 }

 .RoutineDetail .text-left {
 	font-size: 1.8rem;
 	width: 30rem;
 }
