/*----------------
  Routines
 */

@import 'base.css';

.Routines {
	text-align: center;
}

.Routines h2 {
	margin-bottom: 3rem;
}

.Routines .wrapper {
	background: #eee;
	border: 1px solid #ccc;
	padding: 1rem;
	padding-bottom: 1.5rem;
}

.Routines li {
	margin-bottom: 3rem;
}

