/*----------------
  Routines
 */

@import 'base.css';

.Routines {
	text-align: center;
}

.Routines h2 {
	margin-bottom: 3rem;
}

.Routines .wrapper {
	background: #eee;
	border: 1px solid #ccc;
	padding: .75rem;
	padding-bottom: 1rem;
}

.Routines li {
	font-size: 1.5rem;
	margin-bottom: 2.5rem;
}

.Routines button[data-id] {
	padding: .3rem;
	margin-left: 5rem;
}
