/*----------------
  Routines
 */

@import 'base.css';

.Routines {
	text-align: center;
}

.Routines h2 {
	margin-bottom: 3rem;
}

.Routines .wrapper {
	background: #eee;
	border: 1px solid #ccc;
	padding: 1.8rem 1em;
	padding-bottom: 2rem;
}

.Routines li {
	margin-bottom: 4.5rem;
}

