/*----------------
  RoutineDetail
 */

 @import 'base.css';
 @import 'helpers.css';
 @import 'animation.css';

 .RoutineDetail {
	text-align: center;
 }

 .RoutineDetail h2 {
	margin-bottom: 3rem;
 }

 .RoutineDetail .text-left {
 	width: 30rem;
 }

/* .RoutineDetail .wrapper {
 	background: #eee;
 	border: 1px solid #ccc;
 	padding: 1.5rem 1rem;
 	padding-bottom: 1.7rem;
 	
 }

 .RoutineDetail li {
 	font-size: 1.4rem;
 	margin-bottom: 3rem;
 }
*/

.RoutineDetail .wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
 }

 .RoutineDetail .container {
	 	background: #eee;
	 	border: 1px solid #ccc;
	 	margin-bottom: 3rem;
	 	padding: 0 1rem;
	 	padding-bottom: 1rem;
 }

 .RoutineDetail li .title {
 		font-size: 1.5rem;
 		margin: 1rem;
 	
 }
 .RoutineDetail li .controls {
 		
 }
