/*----------------
  RoutineDetail
 */

 @import 'base.css';
 @import 'helpers.css';
 @import 'animation.css';

 .RoutineDetail {
	text-align: center;
 }

 .RoutineDetail h2 {
	margin-bottom: 3rem;
 }

 .RoutineDetail .text-left {
 	width: 30rem;
 }

.RoutineDetail .wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
 }

 .RoutineDetail .container {
	 	background: #eee;
	 	border: 1px solid #ccc;
	 	margin-bottom: 2rem;
	 	padding: 0 .8rem;
	 	padding-bottom: 1rem;
 }

 .RoutineDetail li .title {
 		font-size: 1.4rem;
 		margin: 1rem;
 }

