/*----------------
  Score
 */

 @import 'base.css';
 @import 'helpers.css';

 .Score {
	text-align: center;
 }

 .Score h2 {
 	font-size: 3rem;
 	margin-bottom: 2rem;
 }

 .Score input {
	display: block;
	font-size: 2.5rem;
	margin: .5rem auto;
	margin-bottom: 0;
	outline: 1px solid goldenrod;
	padding: 1rem;
 	text-align: center;
	width: 7em;
 }

