/*----------------
  Stats
 */

 @import 'base.css';
 @import 'helpers.css';
 @import 'animation.css';

 .Stats {
	text-align: center;
 }

.Stats  h2 + div {
	margin: 1rem 0 1rem 0;
}

.Stats .wrapper {
	background: #eee;
	border: 1px solid #ccc;
	padding: 1.3rem;
	padding-bottom: 1.5rem;
}

.Stats li {
	margin-bottom: 2rem;
	font-size: 1.2rem;
}


