/*----------------
  Stats
 */

 @import 'base.css';
 @import 'helpers.css';
 @import 'animation.css';

 .Stats {
	text-align: center;
 }

.Stats  h2 + div {
	font-size: 1.5rem;
	margin: 1rem 0 1rem 0;
}

.Stats .wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
 }

.Stats .container {
 	background: #eee;
 	border: 1px solid #ccc;
 	margin-bottom: 1.5rem;
 	padding: 0 .8rem;
 	padding-bottom: 1rem;
}

.Stats li .title {
	font-size: 1.6rem;
	margin: 1rem;
	text-align: center;
}

.Stats li .average {
	color: #497ADB;
	font-size: 2rem;
	margin: 1rem;
}

.Stats li .controls {
	font-size: 1rem;
	float: right;
}

