

button {
  padding: .8rem .8rem;
  border: 1px solid rgba(0,0,0, .1);
  background: #497ADB linear-gradient(hsla(0, 0%, 100%, .2), transparent);
  border-radius: .5rem;
  box-shadow: 0 .05rem .25rem rgba(0, 0, 0, .5);
  text-shadow: 0 -.05rem .05rem rgba(0, 0, 0, .5);
  color: white;
  font-size: 100%;
  line-height: 1.5;
}
button:hover {
  color: goldenrod;
}
button:active {
  color: #ccc;
  border: 1px solid white;
}

/*crud action buttons (delete)*/
button[data-id] {
  font-size: .5em;
  padding: .3rem .5rem;
  margin-left: .2rem;
}


/****************************
   Pages
  ***************************/
  .Page {
    display: block;
    width: 100%;
    text-align: center;
  }



  h1.heading1 {
    font-family: 'Jura', sans-serif;
    font-size: 6.7rem;
    color: #497ADB;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
  }
  h2.heading2 {
    font-family: 'Jura', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
  }

  h2.titleHeading {
    font-family: 'Jura', sans-serif;
    font-size: 4rem;
    color: #497ADB;
    font-weight: 700;
    margin: 0;
  }
  h3.subTitleHeading {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: 2.5rem;
  }



  .list {
    font-size: 1.2rem;
    margin-top: 3rem;
    margin: 0 auto;
    text-align: left;
    max-width: 50rem;
    padding-left: .5rem; 
  }
  .list-equalLength {
    margin-top: 2rem;
    margin: 0 auto;
  }

  .drill-diagram {
    margin: 2rem 0;
  }




/****************************
   ButtonGroup 
  ***************************/
  .button-group {
    display: block;
    margin: 2rem auto 0 auto; 
  
  }
  .button-group button:not(:first-child) {
    margin-left: 2em;
  }



/****************************
   Form
  ***************************/
  form {
    text-align: center;
  }
  input {
    display: block;
    width: 6em;
    font-size: 3rem;
    margin: .5rem auto;
    margin-bottom: 0;
  }




/***************************************
          MEDIA QUERIES
 ***************************************/
@media screen and (min-width: 40rem) {
  /*html {background: goldenrod; }*/
  .button-group {
    max-width: 50rem;
  }
}


