/* base */
@-webkit-viewport { width: device-width }
@-moz-viewport { width: device-width }
@-ms-viewport { width: device-width }
@-o-viewport { width: device-width }
@viewport { width: device-width }

html {
  /* Set font size to 62.5% so rems are in base 10. Rems are not relative to their parent, so 1.6rem will always yield 16 pixels, etc. Keeping fonts and widths of margins/paddings in rems (and/or percentages) provides flexibility while maintaining proportionality.

    - Use rem for fonts margin/padding
    - Use percentages for height/width
    - Avoid px, pt
    - Use px only for media queries

  px/rem conversion is base 10:

    12px == 1.2rem
    24px == 2.4rem
    100px == 10rem
    etc...

    The only exception to this is with rem/em in media queries. A rem or em will equal 16px regardless of font-size setting.
  */
  font-size: 62.5%;
  line-height: 1.1;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 1rem;
  font-family: "Eurostile";
  font-size: 1.8rem;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: .5rem;
}

a {
  text-decoration: none;
}

/* ===========================================
   Helper classes
   ======================================== */
.hide {
  display: none !important;
}
.grayscale {
  opacity: .5; /* next/prev nav buttons */
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
.show {
   display:block;
}
.dropShadow {
  -webkit-box-shadow: 0 .6rem 1.1rem 0 rgba(0,0,0,0.44);
  -moz-box-shadow: 0 .6rem 1.1rem 0 rgba(0,0,0,0.44);
  box-shadow: 0 .6rem 1.1rem 0 rgba(0,0,0,0.44);
}
.textShadow {
   text-shadow: .3rem .3rem .5rem #000000;
}
.disable {
  opacity: .3;
}
.enable {
  opacity: 1;
}

button {
  padding: .8rem .8rem;
  border: 1px solid rgba(0,0,0, .1);
  background: #497ADB linear-gradient(hsla(0, 0%, 100%, .2), transparent);
  border-radius: .5rem;
  box-shadow: 0 .05rem .25rem rgba(0, 0, 0, .5);
  text-shadow: 0 -.05rem .05rem rgba(0, 0, 0, .5);
  color: white;
  font-size: 100%;
  line-height: 1.5;
}
button:hover {
  color: goldenrod;
}
button:active {
  color: #ccc;
  border: 1px solid white;
}

/*crud action buttons (delete)*/
button[data-id] {
  font-size: .5em;
  padding: .3em .5em;
}


/****************************
   Pages
  ***************************/
  .Page {
    display: block;
    width: 100%;
    text-align: center;
    /*border:1px solid red;*/
/*    flex-direction: column;
    justify-content: center;
    align-items: center;
*/  
  
  }


  .Page-title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .Page-subtitle {
    margin: 2rem 0 .5rem 0;
    font-size: 3rem;
  }

  h3 {
     font-size: 2.5rem;
     margin: 1rem 0 .5rem 1rem;
   }

  .Page-text {
    padding: 1rem;
    width: 75%;
    max-width: 50rem;
  }


/****************************
   Nav
  ***************************/
  .Nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*position: fixed;*/
    width: 100vw;
    margin-bottom: 2rem;
  }
  .Nav-top {
    /*top: 0;*/
  }
  .Nav-bot {
    /*bottom: 0*/;
  }
  .Nav-item {
    border: 1px solid #ccc;
    border-top: none;

    font-size: 1.5rem;
    padding: 1em;
  }


  .Nav-item:hover {
    background: #ccc;
    color: #000;
  }
  .Nav-item:active {
    background: #999;
    color: #fff;
  }


/****************************
   App
  ***************************/
  .App-title {
    font-size: 5rem;
    text-transform: uppercase;
  }
  .App-byline {
    font-size: 2.1rem;
  }
  .App-logo {
    margin: 2rem 0;
    text-align: center;
    width: 150px;
  }
  .App-description {
    font-size: 1.8rem;
  }


/****************************
   Window of drill diagrams (NewRoutine)
  ***************************/
  .drill-frame-wrapper {
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }

  .drill-frame-list {
    flex-grow: 1;
    flex-basis: 40%;
    align-self: flex-start;
    max-width: 15rem;
    padding: 2em 0 0 .8em;
    /*border: 1px solid green;*/
  }

  .drill-frame-list li {
    margin: 0;
    margin-left: 1em;
    padding-bottom: .5rem;
    text-align: left;
  }

  .drill-frame {
    flex-grow: 0;
    flex-basis: 60%; 
    max-height: 75vh;
    max-width: 18rem;

    padding: .5rem 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    
  }

  .drill-frame-item { 
    padding: .5rem;
    border: 0px solid black;
    margin-right: .7rem;
  }
  .drill-frame-item-selected {
    background: orange;
  }
  .drill-frame-item img {
    max-width: 15rem;
  }
  .drill-frame-item-title {
    font-size: 2rem;
    padding-bottom: .5rem;
    color: #497ADB;
  }
  .drill-frame-item .button {
    margin-top: 1rem;
    width: 100%;
    padding: .8rem;
    color: #497ADB;
    border: 2px solid #497ADB;
    text-align: center;
    border-radius: 1rem;
    background: white;
  }
  .drill-frame-item .button:hover {
    /*background: #497ADB;*/
    background: goldenrod;
    color: #497ADB;
  }

  .drill-frame-item .button.active {
    background: goldenrod;
    color: #497ADB;  
  }

  hr.drill { /* used in drill-frame */
    margin-top: 2rem;
      height: 12px;
      border: 0;
      box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  }


/****************************
   ButtonGroup 
  ***************************/
  .button-group {
    display: block;
    margin: 2rem auto 0 auto; 
  
  }
  .button-group button:not(:first-child) {
    margin-left: 2em;
  }



/****************************
   Form
  ***************************/
  form {
    text-align: center;
  }
  input {
    display: block;
    width: 8em;
    font-size: 4rem;
    margin: .5rem auto;
    margin-bottom: 0;
  }

/****************************
   Refactor later
  ***************************/
  .getStarted {
    margin: 2rem;
  }

  button.getStarted a {
    color: white;
  }
  button.getStarted a:hover {
    color: goldenrod;
  }




/***************************************
          MEDIA QUERIES
 ***************************************/
@media screen and (min-width: 40rem) {
  /*html {background: goldenrod; }*/
  .button-group {
    max-width: 50rem;
  }
}


